[build]
builder = "NIXPACKS"

[deploy]
startCommand = "python3 run.py"
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[environment]
PORT = "8000"